xsd/expert.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" 
    xmlns="http://www.nCar.pt/expert" targetNamespace="http://www.nCar.pt/expert">
    <xs:element name="expert">
        <xs:annotation>
            <xs:documentation>
                Basic Schema to validate the addition of
                an expert 
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Name" type="xs:string"/>
                <xs:element name="Code" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
